# Question 1

Let's say, you have a set of text or a document. You have a to build a dataframe where for every sentence, there will be columns for--

1. Number of the words in that sentence
2. Frequency of the word 'a' or 'an', irrespective of uppercase or lowercase
3. Frequency of the word 'the', irrespective of uppercase or lowercase
4. Frequency of the word 'is' or 'are' or 'was' or 'were', irrespective of uppercase or lowercase
5. Number of words in that sentence that are unique to the whole document. For example, think about the first sentence in the green document, <font color='green'>It is so great to state that Mark is a great man. But may be his brother Mathew is not.</font>. The unique words for the first sentence that wasn't used in rest of the documents are, **It, so, great, to, state that, Mark, a, man**. Although the word "great" appeared twice, we count it only once.

In [14]:
import pandas as pd
TEXT_string = "The World Health Organisation (WHO) defines asymptomatic cases as those who don't show symptoms but have been confirmed infected through a lab test. WHO notes there are few reports of truly asymptomatic cases. The incubation period, or the time a person takes to show symptoms after getting infected, is the pre-symptomatic phase, the WHO says. Carriers can infect others during this period. Health experts are not yet sure whether asymptomatic or pre-symptomatic cases are infectious. Some say data so far suggests those cases are probably equally likely to be able to spread infection."
sentences = TEXT_string.split('.')

In [83]:
def text_data(text):
    N_words = []
    A_an = []
    Be_verb = []
    THE = []
    All_words = []
    set_words = []
    worlist_set_dict = dict()
    
    i = 0

    for sent in text:
        if sent:
            words = sent.lower().split()
            N_words.append(len(words))

            #a, an
            A_an.append(words.count('a') +  words.count('an'))

            #the
            THE.append(words.count('the'))

            #Be_verb
            Be_verb.append(words.count('is') + words.count('are') + words.count('was') + words.count('were'))
            
            #total word set
            worlist_set_dict[i] = list(set([w.replace('(', '').replace(')','') for w in words]))
            All_words = All_words + list(worlist_set_dict[i])
            i += 1
            
    uniques = []       
    for i in range(len(worlist_set_dict)):
        word_counts = [All_words.count(w) for w in worlist_set_dict[i]]
        unique_words = [worlist_set_dict[i][idx] for idx, value in enumerate(word_counts) if value==1]
        uniques.append(len(unique_words))
        
    Data = {'Sentences':text[:-1],
            'No of words':N_words,
           'a_or_an_freq':A_an,
           'the_freq':THE,
           'is_are_was_were_freq':Be_verb,
           'Uniques':uniques}
    final_df = pd.DataFrame(Data)
        
    return final_df

In [84]:
text_data(sentences)

,Sentences,No of words,a_or_an_freq,the_freq,is_are_was_were_freq,Uniques
0,The World Health Organisation (WHO) defines as...,23,1,1,0,13
1,WHO notes there are few reports of truly asym...,10,0,0,1,6
2,"The incubation period, or the time a person t...",22,1,4,1,11
3,Carriers can infect others during this period,7,0,0,0,7
4,Health experts are not yet sure whether asymp...,13,0,0,2,6
5,Some say data so far suggests those cases are...,18,0,0,1,13

# Question 2

Download the titanic dataset from this link: https://www.kaggle.com/c/titanic/data. You have to open a kaggle account for this. At this page, if you clock on 'Data', you will find a place where it's written 'Download All". Click on that and a zip file will be downloaded. Unzip it and we will work with the file named "train.csv" in this folder.

Please andwer the follwoing questions from the dataset by must writing code. Your code output should be the answer of the question. 

1. What is the maximum fare and what is the name of the passenger who bought it?
2. What is the percentage of male that survived among all male passengers and what is the percentage of female that survived among all female passengers? Note: 0 means not survived and 1 means survived
3. What is the median age for all the passengers? What is the median age for male and female passengers?
4. How many passengers were there who were aged less than 25, female and survived?

In [47]:
cd assignments

C:\Users\Sadat\Documents\EMK_Data_science\Notebooks\assignments

In [48]:
df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [66]:
print(df[df.Fare==df.Fare.max()]['Name'])
print('male survival rate', df[(df.Sex=='male') & (df.Survived==1)].shape[0]*100/df[df.Sex=='male'].shape[0])
print('female survival rate', df[(df.Sex=='female') & (df.Survived==1)].shape[0]*100/df[df.Sex=='female'].shape[0])
print('median age of all', df.Age.median())
print('median age of male', df[df.Sex=='male'].Age.median())
print('median age of female', df[df.Sex=='female'].Age.median())
print('aged less than 25, female and survived' ,df[(df.Age<25) & (df.Sex=='female') & (df.Survived==1)].shape[0])

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object
male survival rate 18.890814558058924
female survival rate 74.20382165605096
median age of all 28.0
median age of male 29.0
median age of female 27.0
aged less than 25, female and survived 85

# Question 3

**Must use pandas groupby method**

Please andwer the follwoing questions from the dataset by must writing code. Your code output should be the answer of the question. 

1. Pclass means which class a passanger got in. Find the mean ticket fare for all the classes.
2. What is the probablity of your survival if you got in the first class, vs if you got in the third class. In which class it is more likely for you to survive?
3. Embarked means from where a passenger got in. Here, C = Cherbourg, Q = Queenstown, S = Southampton. What is the male and feamle ration for all these places that got in Titanic. 
4. Build a custom age grouper: kids: less than 18 years of age, youths: 18+ and less than 45, Aged: 45+. For each of these groups, find the mean age and percentage of survival.

In [69]:
clsgrp = df.groupby('Pclass')
print(clsgrp.mean()['Fare'])

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [73]:
for cls, data in clsgrp:
    print('Probability of survival in class', cls, 'is' ,data[data['Survived']==1].shape[0]/data.shape[0])

Probability of survival in class 1 is 0.6296296296296297
Probability of survival in class 2 is 0.47282608695652173
Probability of survival in class 3 is 0.24236252545824846

In [76]:
emgrp = df.groupby('Embarked')
for cls, data in emgrp:
    print('ratio of male and felame in group', cls, 'is', data[data.Sex=='male'].shape[0]/data[data.Sex=='female'].shape[0])

ratio of male and felame in group C is 1.3013698630136987
ratio of male and felame in group Q is 1.1388888888888888
ratio of male and felame in group S is 2.1724137931034484

In [82]:
def custom_grouper(idx):
    if df.Age.loc[idx]<18:
        return 'youths'
    elif 18<df.Age.loc[idx]<=45:
        return 'kids'
    else:
        return 'Aged'
    
grp = df.groupby(lambda x:custom_grouper(x))
for g, d in grp:
    print('mean age for the group', g, 'is', d.Age.mean())
    print('chances of survival for the', g, 'group is',d[d.Survived==1].shape[0]*100/d.shape[0])

mean age for the group Aged is 47.31782945736434
chances of survival for the Aged group is 32.35294117647059
mean age for the group kids is 29.829449152542374
chances of survival for the kids group is 38.559322033898304
mean age for the group youths is 9.041327433628318
chances of survival for the youths group is 53.982300884955755