In [55]:
__Author__ = "Sadat Shahriar"
__PublishedIn__ = "EMK Center Data Science Workshop"

### Python Data Types

In [37]:
X = 2
print('type of X is', type(X))

Y = 3.98
print('type of Y is', type(Y))

Z = 'Shakib Al Hasan'
print('type of Z is', type(Z))

W = False
print('type of W is', type(W))

type of X is <class 'int'>
type of Y is <class 'float'>
type of Z is <class 'str'>
type of W is <class 'bool'>

In [26]:
a = 15 #integer
b = 4 #integer 
print(a+b) #addition
print(a*b) #Multiplication
print(a-b) #Subtraction
print(a%b) #remainder
print(a**b) #Power

19.2
63.0
10.8
2.3999999999999995
87012.82883411615

In [31]:
a = 5
b = 'Python3_'
print(a*b)

Python3_Python3_Python3_Python3_Python3_

We also have:
1. list
2. set
3. tuple
4. dict

and many more

### Data Input

In [32]:
a = input('Please input anything for a ')

Please input anything for a23.87

In [33]:
type(a)

str

In [34]:
#If you'd like to take any specific input type, you must type cast it

#Let's say you want float input
a = float(input('Please input a float number for a '))

Please input a float number for a 12

In [35]:
a

12.0

In [36]:
type(a)

float

different typecasting:
* int()
* float()
* str()
* tuple()
* list()
* set()
* dict()

### Comparison Operators

In [45]:
9==3

False

In [46]:
9>=3

True

In [47]:
9<=3

False

In [48]:
9!=3

True

### Assignment Operators

In [51]:
a = 3 #assigns 3 to a
print(a)

3

In [52]:
a += 5 # adds 5 to a
print(a)

8

In [53]:
a /= 2 #divides a by 2
print(a)

4.0

In [54]:
a *= 11 # Multiplies a by 11
print(a)

44.0

### Logical Operators

In [56]:
34==33 or 12.99==12.99

True

In [57]:
34==33 and 12.99==12.99

False

In [58]:
not 10.4==10.5

True

### Membership Operators

In [59]:
string = 'I have a dream'
'dream' in string

True

In [60]:
'doctor' not in string

True

### Identity operator

In [61]:
a = 'abc123'
b = 32.987
a is b

False

In [62]:
a is not b

True

In [63]:
a = 100
b = 100
a is b

True

In [64]:
a = 257
b = 257
a is b

False

You can use the 'is' operator from -5 to 256 only.