#   String Manupulation: Playing around

In [1]:
# You can use both single quote and double quote

single = 'Welcome to 2020'
double = "Oh on your face, 2020"

print(single)
print(double)

Welcome to 2020
Oh slap on your face, 2020

In [4]:
#But double quote may be a bit better as it helps to keep the quote inside a string

string = "And then the kid said, 'pitty you'!"
print(string)

And then the kid said, 'pitty you'!

In [8]:
# You can do the inside quotation with double quote too. Just use the escape (double slash), and you are done ! 

new_string = "I learned the word \"hatred\"."
print(new_string)

I learned the word "hatred".

In [9]:
# Access the characters in a string

s = "Pluviophile"

s[0]

'P'

In [10]:
s[1]

'l'

In [11]:
s[2]

'u'

In [12]:
s[-1]

'e'

In [69]:
s[0:8:2]

'Puip'

In [18]:
# reverse the string
s[::-1]

'elihpoivulP'

In [70]:
# get the string from 2nd place to the end
s[1:]

'luviophile'

### Using the format method

In [71]:
name = 'Sokhina'
age = 26
height = 64
home = 'Barishal'

print('Ms. {} is {} years of age. Her height is {} inches and her hometown is {}'.format(name, age, height, home))

Ms. Sokhina is 26 years of age. Her height is 64 inches and her hometown is Barishal

In [21]:
pi_real = 3.14159265358979323846264
pi_convenient = 22/7

print("The real value of pi is {} and a convenient value is {}".format(pi_real, pi_convenient))

The real value of pi is 3.141592653589793 and a convenient value is 3.142857142857143

In [72]:
# A much better representation
print("The real value of pi is {:.4f} and a convenient value is {:.2f}".format(pi_real, pi_convenient))

The real value of pi is 3.1416 and a convenient value is 3.14

In [73]:
# Another way:

print('Ms. ' + name + ' is ' + str(age) + ' years old and she is from ' + home)

Ms. Sokhina is 26 years old and she is from Barishal

### Join the strings

In [74]:
elakar_name = "Mohammad"
last_name = "pur"

elakar_name + last_name

'Mohammadpur'

In [28]:
# A much better method 
''.join([elakar_name, last_name])

'Mohammadpur'

In [76]:
#join by underscore

'ABCD'.join([elakar_name, last_name])

'MohammadABCDpur'

### case changes

In [77]:
# capitalize: first character of a string

name = "shakib al hasan"
name.capitalize()

'Shakib al hasan'

In [78]:
# capitalize all characters
name.upper()

'SHAKIB AL HASAN'

In [79]:
# lower all the characters
name = "Mahmudullah Riyad"
name.lower()

'mahmudullah riyad'

In [80]:
# titlecase: capitalize all words in sentence

string = "this is my home. i will not give it away. you get that?"
string.title()

'This Is My Home. I Will Not Give It Away. You Get That?'

In [81]:
# swaping

name.swapcase()

'mAHMUDULLAH rIYAD'

In [82]:
name.startswith('M')

True

In [83]:
name.endswith('d')

True

### Other operations

In [84]:
sent = "I love my home."
len(sent) #print the length

15

In [85]:
sent.count('e') #count a letter

2

In [86]:
sent.find('e') #find a letter

5

In [87]:
sent.index('y')

8

In [91]:
sent.replace('e', '122')

'I lov122 my hom122.'

### Split method

In [54]:
#split method really splits the string/list into its elements
sent.split()

['I', 'love', 'my', 'home.']

In [89]:
# You can define how you want to split them. the default is a single character space
ss = 'The_world_is_so_beautiful'
ss.split()

['The_world_is_so_beautiful']

In [90]:
ss.split('_')

['The', 'world', 'is', 'so', 'beautiful']