# Python Data Structure (built-in)

### List

In [70]:
# List is the most used data structure in python. It is used to
# store element of ANY type ! Can be accessed with indexs.
# Also can be mutable

L = [1,2,3,4, 5]
print(L)
print(L[0]) # Print the first element
print(L[3]) # Print the fourth element 
print(L[-1]) #print the last element
print(L[1:4]) # print the second to the fourth element

[1, 2, 3, 4, 5]
1
4
5
[2, 3, 4]

In [5]:
# All types of data can be stored inside the list

L_diverse = [1, 2.98, 'EMK', False, [12, 4]]
L_diverse[0] #access the first element
L_diverse[-1][1] #access the second element in the last element (List)

4

In [7]:
#List operation

L[0] = 12.334  #assign any value to any position
print(L)

[12.334, 2, 3, 4, 5]

In [8]:
# check an element
4 in L

True

In [11]:
#Insert Function --> Useful for inserting data on an index
#list.insert(index, value)
nums = [2, 4, 6, 8, 10]
nums.insert(2, 0)
nums

[2, 4, 0, 6, 8, 10]

In [12]:
#Append function --> Appends the value to the last location of the list
#list.append(value)
nums.append('166')
print(nums)

[2, 4, 0, 6, 8, 10, '166']

In [14]:
len(nums) #print the length of the values

7

In [17]:
#index funciton --> Find an index of a particular element in the list
#list.index(value)
z = ['p','q','r','s','p','u']
print(z.index('u')) #print the index of the first element.

5

In [40]:
# count, reverse and remove
N = [1, 1, 2, 3, 5, 8, 13, 21, 34]
print(N.count(1)) #how many times we have 1

N.reverse() #reverse the list and update it
print(N)
N.reverse()
print(N)

N.remove(1)
print(N)

#Remove --> Removes an element from the list
#list.remove(value)
N.remove(13)
print(N)

2
[34, 21, 13, 8, 5, 3, 2, 1, 1]
[1, 1, 2, 3, 5, 8, 13, 21, 34]
[1, 2, 3, 5, 8, 13, 21, 34]
[1, 2, 3, 5, 8, 21, 34]

In [42]:
#Pop --> Pops the value out of the list and returns the value
#list.pop(index)
print(nums) #nums = [2, 4, 0, 6, 8, 10, '166']
d = nums.pop(5)
print(d)
print(nums)

[2, 4, 0, 6, 8, 10]
10
[2, 4, 0, 6, 8]

In [44]:
#Numeric Function
X = [2, 5, 8, 11, 14]
print(X)
print(max(X))
print(min(X))
print(sum(X))

[2, 5, 8, 11, 14]
14
2
40

In [53]:
#Interestingly it can be done for the strings as well
L = ['ab', 'abs', 'dsa', 'zz']
print(max(L))
print(min(L))

zz
ab

In [64]:
#Adding/multiplicating list

A = [9, 8, 7, 6]
B = [99, 88, 77, 66]
print(A + B) #will contain all the element of A and B
print(A*2) # Will put all the element of A twice

[9, 8, 7, 6, 99, 88, 77, 66]
[9, 8, 7, 6, 9, 8, 7, 6]

In [69]:
# sorting
A = [2, 3, 1, 2.98, 44, 7, 21]

print(sorted(A)) #ascending
print(sorted(A, reverse= True)) #descending

[1, 2, 2.98, 3, 7, 21, 44]
[44, 21, 7, 3, 2.98, 2, 1]

### Tuple

tuple is 'almost' like list but there are some differences

1. tuple is used with parentheses
2. tuple is immutable --> most important

tuple is used mostly for record keeping sort of things.

In [73]:
a = ('the', 'fault', 'in', 'our', 'stars')
print(type(a))

<class 'tuple'>

In [74]:
print(a)

('the', 'fault', 'in', 'our', 'stars')

In [75]:
print(a[0])
print(a[-1])
print(a[1:3])

the
stars
('fault', 'in')

In [78]:
# immutability
T = (8, 9, 'absolute', [1, 2])
T[0] = 2 #will throw an error

TypeError: 'tuple' object does not support item assignment

**You cannot change any value inside a tuple and you cannot insert or delete as well**

In [90]:
#some functions that can be used with tuple
Z = (2, 7, 1)
print(len(Z))
print(max(Z))
print(min(Z))
print(sum(Z))
print(Z.count(2))

3
7
1
10
1

### Set

Set is just like the mathematical set that we studied in school ! It also has a lot of similarities with lists. But the differeces are:

1. It works with a curly brace--> {}
2. One item can appear only once
3. You cannot slice item from set, unlike lists or tuples

In [92]:
A = {12, 13, 14, 12}
print(A) #automatically removes the multiple-occurred element

{12, 13, 14}

In [93]:
print(type(A))

<class 'set'>

In [94]:
len(A)

3

In [96]:
print(A[0]) # will throw an error

TypeError: 'set' object is not subscriptable

এটা কেমন কথা? What will I do if I want to access an element after operating with set ?

In [102]:
# convert to list
A_converted = list(A)

In [103]:
A_converted

[34, 11, 12, 13, 14]

In [97]:
#Adding element in set
A.update({34, 11})

In [110]:
# Removing element from set.
# you can use either discard() or remove() method, but it's recommended to use the earlier
A.discard(12)
print(A)

{34, 11, 13, 14}

**set operation**

In [115]:
A = {1, 3, 5, 7, 9}
B = {1, 2, 4, 7, 9}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 7, 9}
{1, 9, 7}
{3, 5}

### Dictionary

**##########   Smartest of all the data structures and probably the most important one   #########**

In [124]:
#dictionary is a key-value paired data structure

Bangladesh = {"Language":"Bangla", 
              "Year of independence":1971, 
              "Capital":"Dhaka", 
              "Divisions":["Dhaka", "Raj", "Bar", "Khulna", "Rangpur", "Ctg", "Syl", "Myman"]}
print(Bangladesh)

{'Language': 'Bangla', 'Year of independence': 1971, 'Capital': 'Dhaka', 'Divisions': ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman']}

dictionary = {'key1':'value1', 

             'key2':'value2...}

* Key can be: string, integer, tuple
* Value can be: Any type
* Keys have to be unique
* Values can be duplicated

In [125]:
#accessing
print(Bangladesh['Capital'])
print(Bangladesh['Divisions'][2])

Dhaka
Bar

In [126]:
#Update dictionary
Bangladesh['Language'] = 'Bengali'
print(Bangladesh)

{'Language': 'Bengali', 'Year of independence': 1971, 'Capital': 'Dhaka', 'Divisions': ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman']}

In [127]:
#add new item
Bangladesh['Population'] = '160 million'
print(Bangladesh)

{'Language': 'Bengali', 'Year of independence': 1971, 'Capital': 'Dhaka', 'Divisions': ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman'], 'Population': '160 million'}

In [130]:
# We can add two dictionaries
Universities = {'DU':'General', 'DUET':'Engineering', 'BSMMU':'Medical'}
Bangladesh.update(Universities)
print(Bangladesh)

{'Language': 'Bengali', 'Year of independence': 1971, 'Capital': 'Dhaka', 'Divisions': ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman'], 'Population': '160 million', 'DU': 'General', 'DUET': 'Engineering', 'BSMMU': 'Medical'}

In [131]:
# remove item from dictionary
del Bangladesh['Population']
print(Bangladesh)

{'Language': 'Bengali', 'Year of independence': 1971, 'Capital': 'Dhaka', 'Divisions': ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman'], 'DU': 'General', 'DUET': 'Engineering', 'BSMMU': 'Medical'}

In [134]:
# Find all the keys
Bangladesh.keys()

dict_keys(['Language', 'Year of independence', 'Capital', 'Divisions', 'DU', 'DUET', 'BSMMU'])

In [135]:
# Find all the values
Bangladesh.values()

dict_values(['Bengali', 1971, 'Dhaka', ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman'], 'General', 'Engineering', 'Medical'])

### Convert one data structure to the other

In [138]:
# tuple to list
TPL = (1, 4, 'abc', [43, 9.22])
list(TPL)

[1, 4, 'abc', [43, 9.22]]

In [140]:
#list to tuple
LST = [1, 9, 2, 'bla']
tuple(LST)

(1, 9, 2, 'bla')

In [141]:
#list to set
set(LST)

{1, 2, 9, 'bla'}

In [142]:
#set to list
ST = {9, 1, 7, 4}
list(ST)

[9, 4, 1, 7]

In [143]:
#dictionary to list
Bangladesh.items()

dict_items([('Language', 'Bengali'), ('Year of independence', 1971), ('Capital', 'Dhaka'), ('Divisions', ['Dhaka', 'Raj', 'Bar', 'Khulna', 'Rangpur', 'Ctg', 'Syl', 'Myman']), ('DU', 'General'), ('DUET', 'Engineering'), ('BSMMU', 'Medical')])

In [144]:
#List to dictionary
name_age = [('Andrew', 28), ('Martina', 49), ('Gilli', 11)]
dict(name_age)

{'Andrew': 28, 'Martina': 49, 'Gilli': 11}

**Summary**
* List - indexed storage
* Dictionary - Logical Association storage, useful for params
* Tuple - Memory optimized and Secure data storage
* Set - unindexed data storage, widely useful for removing redundancy and mathematics ops